<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>peoplenumber</title>
   <link rel="stylesheet" href="../static/style.css">
   <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
   <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
   <header>
      <img id = "people-number" src = "/static/image.png" alt = "PEOPLE NUMBER">
   </header>
   <form id="upload-container" method="post">
      <div>
         <input id="file-input" type="file" name="file">
         <label for="file-input">Добавить файл</label>
      </div>
      <img id="upload-image" src="/static/plus.png" alt="Image">
      <img id="uploaded-image" alt="uploaded" hidden>
   </form>
   <label id="response">Сколько человек на фото?</label>
<form id="about">
      <label id="title">О проекте</label>
      <label id="info">Сайт выполнен в качестве курсового проекта и является демонстрацией знаний и умений, полученных в ходе изучения дисциплины «Web-программирование» </label>
   </form>
</body>
</html>
